*.o
lang.h
lang.c
lexical.c
mon.out
*.ln
tags
parse
core
TAGS
config.status
lpmud.log
clib/*.o
driver
driver.old
efun_defs.c
efun_table.h
lang.y
make_func
make_func.c
make_table
func_spec.i
master.h
master.t
genfkntab
regress/regress.*
